<div id="form">
  <h2>Login</h2>
  <form action="/login" method="POST">

    <label> Username
      <input type="username" name="username" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Login</button>
   {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

</div>

<div id="form">
<div class="form-group"> 
<a class="btn btn-primary" href="/forgot-password" role="button">Recover password</a>