<div id="form">
  <h2>Signup</h2>
  <form action="/signup" method="POST">

    <label> Username
      <input type="text" name="username" placeholder="username" />
    </label>

    <label> Email
      <input type="email" name="email" placeholder="youremail@email.com" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Create account</button>

   <form action="/create" method="post" enctype="multipart/form-data"> 
         <input type="file" name="profile-cover-image" />   </form>
   <button type="submit" class="btn btn-primary">Upload your personal image</button>
   
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>