<div class="container-fluid signup-page">
  <div class="row">
    <div class="col d-flex justify-content-center align-items-center fullheight">
<div id="form" class="p-5 border border-2 rounded auth-form">
  <h2 class="mb-4">Sign up</h2>
  <form action="/signup" method="POST" class="d-flex flex-column" enctype="multipart/form-data">

  <div class="form-floating mb-3">
  <input type="text" name="username" class="form-control" id="floatingUsername" placeholder="Your username">
  <label for="floatingUsername">Username</label>
</div>
<div class="form-floating mb-3">
  <input type="email" name="email" class="form-control" id="floatingEmail" placeholder="hungry4@legu.me">
  <label for="floatingEmail">e-mail</label>
</div>
<div class="form-floating mb-3">
  <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>

 <input class="form-control" type="file" name="profile-cover-image" id="userImageUpload">

<hr class="my-3">
    <button type="submit" class="btn my-2" style="width:100%">Create account</button>
  </form>
   {{#if errorMessage}}
    <p class="error my-2">{{errorMessage}}</p>
  {{/if}}
  </div>
</div>
</div>
</div>

