<div class="container-fluid about-page p-0">

  <div class="row about-heading">
    <div class="col">
      <h1>Legu.me - your next veggie meal sorted</h1>
    </div>
         </div>
          
          <div class="row about-copy">
            <div class="col">
              <p>Need an amazing seitan stroganoff to win over his or her parents? Want to turn the tables on grandma and bake HER cookies? We've got you covered!</p>
              <p>Legu.me is a database of over 30.000</p>
           </div>
         </div>
      </div>
    