<div class="container-fluid recipe-single-page p-0">

  <div class="row">
    <div
      class="d-flex flex-column justify-content-center align-items-center"
      style="background:linear-gradient(0deg, rgba(17, 17, 17, 0.3), rgba(199, 199, 199, 0.3)), url({{recipe.images.LARGE.url}}); background-attachment: fixed;  background-position: center;  background-repeat: no-repeat;  background-size: cover;  height:70vh;"
    >
      <h1 class="mb-3 text-white"></h1>
    </div>

    <div class="row p-0 mt-1">
    </div>
    <div class="row p-0 my-2">
      <div class="col col-xs-12 col-lg-12 p-0">
        <div class="col-inner-container border border-1 rounded p-3 mx-3 me-2 my-2">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut veritatis ratione perspiciatis similique, omnis officiis minus quasi reprehenderit vitae laborum nam obcaecati voluptatibus odio dolores impedit itaque harum esse quibusdam?</p>
         
         </div>
          
      </div>
    