body {
  padding: 50px;
  font: 14px "Quicksand", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

/*
font-family: 'Quicksand', sans-serif;
cores:

khaki: #95915B
verde: #7C955B
castanho: #95745B
*/

