/* Base styles */

/*
font-family: 'Quicksand', sans-serif;
Colours:
Khaki: #95915B
Green: #7C955B
Brown: #95745B
Cursive font option (italic): font-family: 'EB Garamond', serif;
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
*/


body {
  font-family: 'Quicksand', sans-serif;
  font-weight:300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:500;
  color: #95745B;
}

 a {
  color: #95745B
}

/*
.login-page, .signup-page {
  background-color: white;
}
*/

/* Button styles */

.btn {
  background-color: #95915B;
  border-color: #95915B;
  color:white
}

.btn:hover {
  color:white;
  background-color: #7C955B;
  border-color: #7C955B;
}

.btn.btn-secondary {
  border-color: #95745B;
  background-color:#95745B
}

.btn.btn-secondary:hover {
  color:white;
  border-color: #7C955B;
  background-color: #7C955B
}

.btn:focus, .form-control:focus, .form-select:focus {
  border-color:#95915B;
  box-shadow: 0 0 0 0.1rem #95915B;
  }

.capitalize {
  text-transform: capitalize;
}

 /* Navbar styles */
 .navbar {
  background-color: #7C955B;
}

.navbar-brand img {
  width: 125px;
}

/* Recipe List and Recipe Card Styles */
 .recipe-list-container {
  background-color:#7C955B;
}

a.card-title {
  text-decoration:none;
}

.card {
  animation-duration:0.5s;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
    width:0%
  }

  to {
    opacity:100%;
    width:24%
  }
}

.card:hover {
  transform: translate3D(0,-1px,0) scale(1.03); /* move up slightly and zoom in */
  box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease;
}

p.card-text {
  font-size:14px;
  margin-bottom:1%;
}
.source-btn {
  margin-top:10%;
  width:100%;
  font-size:0.6rem;
}

/* Filter & sorting styles */

.filter-container {
  background-color:#7C955B;
}

#filter-accordion, .recipe-cards-container, .sort-results-container {
  background-color:white
}
#filter-accordion-header button {
  font-size: 1.5rem;
  font-weight:500;
  color: #95745B;
  padding:0 0 2% 0;
}

#filter-accordion-header .accordion-button:focus {
  border-color: transparent;
  box-shadow:none;
}

#filter-accordion-header .accordion-button:not(.collapsed) {
  background-color:transparent;
  box-shadow:none;
}

.form-control.minmax {
  margin-right:2%
}

.btn.remove-diet-restriction, .btn.remove-dishType-restriction, .btn.remove-cuisineType-restriction, .btn.remove-mealType-restriction {
  height:30px;
  font-size:10px;
  margin-top: 10px;
  margin-right:10px
}

#load-next-results, #load-previous-results {
  width:45%;
  font-size:13px;
}

/* Login page styles*/

.fullheight {
  height:90vh
}

.auth-form {
  width: 400px
}
.recover-pass-text {
  text-align:center;
  font-size: 14px
}

.error {
  text-align:center; 
  font-weight:500
}


/* Recipe Single Page */

.recipe-single-page {
  background-color:#7C955B
}

.recipe-single-page .col .col-inner-container {
  background-color:white;
  height:100%
}

.recipe-single-page .row {
  --bs-gutter-x: 0;
}

.related-recipes-heading {
  color:white
}

.notFavRecipe {
 background-color:white;
 border:2px solid #95745B;
 color:black;
}

.notFavRecipe:hover {
  background-color: #95745B;
  border-color: #95745B;
  color:white
}

.isFavRecipe {
  background-color: #95745B;
  border-color: #95745B;
  color:white
}

.isFavRecipe:hover {
  background-color: #95745B;
  color:black;
} 

.notFavRecipe:focus, .isFavRecipe:focus {
  box-shadow:none;
}
/* Footer styles */

footer {
  background-color:#7C955B;
}
footer p {
  text-align:center;
  color:white;
  margin-bottom:0;
  padding:1%
}

footer p a {
  color:white;
}

footer p a:hover {
  color:rgb(221, 221, 221);
}